# import numpy as np
# import pandas as pd
# from scipy.signal import find_peaks
# from scipy.interpolate import UnivariateSpline
# from scipy.stats import sem, t
# from scipy import mean
# import matplotlib.pyplot as plt
# import os
# from scipy.interpolate import make_interp_spline

# setup requirements.txt

numpy 
pandas
scipy
matplotlib
